#root {
  margin: 0 auto;
}
.game-div {
  max-width: 600px;
  background-color: white;
  border-radius: 11px;
  padding: 15px 30px;
  margin: 0 auto;
}
.dice-div {
  padding: 4px 8px;
  box-shadow: 0 0 8px 2px #00000025;
  border-radius: 4px;
}
.Dice-Box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 500px;
  margin: 0 auto;
  padding: 10px 20px;
  cursor: pointer;
}
.roll-dice {
  background-color: #0b2434;
  color: white;
  grid-area: 3/3;
}
.roll-dice:hover {
  background-color: #340b2eee;
}

@media screen and (max-width: 660px) {
  body {
    padding: 40px 20px;
  }
  .game-div {
    max-width: 400px;
  }
  .Dice-Box {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 300px;
  }
  .roll-dice {
    background-color: #0b2434;
    color: white;
    grid-area: 6/1;
    grid-column: 1/-1;
  }
  h1 {
    font-size: 2.8em;
  }
}
@media screen and (max-width: 430px) {
  .game-div {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }
  .Dice-Box {
    width: calc(80% - 40px);
  }
}
